---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreatePlatformEndpoint&PlatformApplicationArn=arn%3Aaws%3Asns%3Aap-northeast-1%3A414067260705%3Aapp%2FAPNS%2Ftry_it_student_ios_develop_adhoc&Token=b15cb71b531bd2e5619f615d608eb39754dd14dc8e7a309b960d17ade9841b6a&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170522T015525Z
      X-Amz-Content-Sha256:
      - c6be134e8c91d10b6218488812d3217ea7b3fcabc42f36b7d5f1bfd67461805f
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJIIQTKHQUSLUS7HQ/20170522/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=4bdd105e4ed321d9837f1cbf5a34f8b9f18fd51a25db4434b6c562fa0a4b1533
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 25e41632-b822-56e4-ba87-47aeff6f4830
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreatePlatformEndpointResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreatePlatformEndpointResult>
            <EndpointArn>arn:aws:sns:ap-northeast-1:414067260705:endpoint/APNS/try_it_student_ios_develop_adhoc/8c7fc675-62ef-3f52-9d30-133d4fe747f7</EndpointArn>
          </CreatePlatformEndpointResult>
          <ResponseMetadata>
            <RequestId>25e41632-b822-56e4-ba87-47aeff6f4830</RequestId>
          </ResponseMetadata>
        </CreatePlatformEndpointResponse>
  recorded_at: Mon, 22 May 2017 01:55:26 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=arn%3Aaws%3Asns%3Aap-northeast-1%3A414067260705%3Aendpoint%2FAPNS%2Ftry_it_student_ios_develop_adhoc%2F8c7fc675-62ef-3f52-9d30-133d4fe747f7&Protocol=application&TopicArn=arn%3Aaws%3Asns%3Aap-northeast-1%3A414067260705%3Awhole_student_notification_topic_develop&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170522T015711Z
      X-Amz-Content-Sha256:
      - e94f849bde4d2ec75e14d78ea145257c8051da1ed80527ef54f93f40c5bf987b
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJIIQTKHQUSLUS7HQ/20170522/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=dd5157beb7dbca052462f9c8a88bda287966725c93a37d7bced6830fb3c23f61
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c891dc48-f3bc-5ccb-8471-8dd4b40bc9d6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>arn:aws:sns:ap-northeast-1:414067260705:whole_student_notification_topic_develop:8aedc02f-99f4-4eaa-90b4-8a0b13d8a2f5</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>c891dc48-f3bc-5ccb-8471-8dd4b40bc9d6</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Mon, 22 May 2017 01:57:12 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteEndpoint&EndpointArn=arn%3Aaws%3Asns%3Aap-northeast-1%3A414067260705%3Aendpoint%2FAPNS%2Ftry_it_student_ios_develop_adhoc%2F8c7fc675-62ef-3f52-9d30-133d4fe747f7&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170522T015712Z
      X-Amz-Content-Sha256:
      - 1506a9276e0ddc8a5bf3a89ea4776bb4c4e2949d2d7cc4bcd667fe453145ad76
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAJIIQTKHQUSLUS7HQ/20170522/ap-northeast-1/sns/aws4_request,
        SignedHeaders=content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=bace0943002f8e9e72f9610990b0795073421cf52a2effc3bdf004384f725b39
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 78fa0c55-970c-5deb-b3ac-5dc9d0b41709
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteEndpointResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>78fa0c55-970c-5deb-b3ac-5dc9d0b41709</RequestId>
          </ResponseMetadata>
        </DeleteEndpointResponse>
  recorded_at: Mon, 22 May 2017 01:57:12 GMT
recorded_with: VCR 3.0.1
