---
http_interactions:
- request:
    method: post
    uri: https://cs.trygroup.co.jp/cstest/home.pc?cs_param=sso&im_password=Mw_bqA5K&im_user=S50089000101&tryg2=
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=Windows-31J
    body:
      encoding: UTF-8
      string: "\r\n<HTML>\r\n<BODY onLoad=\"document.forms[0].submit();\">\r\n\t<form
        name=\"page_form\" action=\"/_-A-_/cstest/trycs/jsp/common/sso.jsp;jsessionid=abcLwaVS-qOLF9pDBhulv\"
        method=\"GET\">\r\n\t\t\r\n\t</form>\r\n</BODY>\r\n</HTML>\r\n\r\n"
  recorded_at: Fri, 12 Feb 2016 06:14:27 GMT
- request:
    method: post
    uri: https://cs.trygroup.co.jp/cstest/conf.cs_R01-R010007.service;jsessionid=abcLwaVS-qOLF9pDBhulv;tryg2
    body:
      encoding: UTF-8
      string: '{"KYS_CD":"","SHKKN_YTI_MNY":100}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n{\r\n  \"meta\": {\r\n    \"code\": 201\r\n    \r\n  },\r\n
        \ \"data\": {\r\n    \r\n  \t\"SHKKN_YTI_YMD\" : \"20160325\"\r\n  \t,\"SHKKN_CD\"
        : \"00015757707\"\r\n    \r\n  }\r\n}\r\n"
  recorded_at: Fri, 12 Feb 2016 06:14:27 GMT
recorded_with: VCR 3.0.1
