$color-white: #ffffff;
$color-white-hover: #f9f9f9;
$color-light-gray: #cfcfcf;
$color-gray: #999999;
$color-gray-hover: #7a7a7a;
$color-border-gray: #cfcfcf;
$color-text-gray: #999999;
$color-text-black: #212121;
$color-bg-light-gray: #f3f3f3;
$color-bg-gray: #eeeeee;
$color-black: #000000;
$color-blue: #001fd7;
$color-blue-disabled: #001696;
$color-blue-hover: #171696;
$color-red: #ee2100;


$color-english: #f23a1c;
$color-math: #008eff;
$color-science: #00ae3a;
$color-society: #ffab1b;
$color-japanese: #f34bc0;

$font-size-80: 36px;
$font-size-70: 26px;
$font-size-60: 22px;
$font-size-50: 18px;
$font-size-40: 16px;
$font-size-30: 14px;
$font-size-20: 13px;
$font-size-10: 12px;

$width-submenu: 232px;
$width-min-content: 1000px;
$width-max-content: 1240px;

$subjects: english, math, science, society, japanese;

$popup-type: level, trophy, textbook, questions, history, bookmark, requestpoint, complete-request-point, post-question, post-question-draft, submit-question, vacation, not-accept-question, question-for-internal-member;