.page-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  .logo {
    margin: 0 auto;
    width: 256px;
    height: 148px;
    background-image: image-url('students/common/logo.png');
    background-size: cover;
  }
  .el-button {
    margin: 100px auto 0;
    & + .el-button {
      margin: 20px auto 0;
    }
  }
  .link {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    a {
      color: $color-text-gray;
      font-size: $font-size-20;
      text-align: center;
      transition: color 0.15s ease;
      &:hover {
        color: $color-gray-hover;
      }
    }
  }
}