.bl-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: $color-bg-gray;
  background-image: image-url('juku/loading-25.gif');
  background-repeat: no-repeat;
  background-position: center 49vh;
  & + div {
    opacity: 0;
  }
  &.u-hidden {
    & + div {
      opacity: 1;
      transition: opacity 0.4s;
    }
  }
}