.el-select {
  width: 126px;
  padding: 0 10px 0 28px;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  border: 1px solid #c1c1c1;
  background-position: 8px 50%;
  box-sizing: border-box;
  color: #000000;
}